.notif {
    border: none;
    border-bottom: 1px solid #CEE4FA;
}

.inner-flexed-item > p {
    color: grey;
}

.inner-flexed-item > * {
    font-size: 14px;
}

.notf-close-btn {
    cursor: pointer;
}