.request {
    box-shadow: 0 0 4px #CEE4FA;
    border-radius: 15px;
    margin-bottom: 1.5rem;
}

.user-photo {
    cursor: pointer;
}

.file-details > p {
    font-size: 14px;
}


.req-actions {
    display: flex;
    gap: 1rem;
}

.req-actions button {
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
}

.req-actions .accept-btn {
    background-color: #4D83E8;
    color: white;
    border: none;

}

.req-actions .decline-btn {
    color: red;
    border: 1px solid red;
    background-color: initial;
}


@media screen and (max-width: 480px) {

    .request {
        align-items: start;
        flex-direction: column;
        min-width: fit-content;
        
    }
    .req-actions {
        gap: 0.2rem;
    }
}